{{!-- <div class="container mt-5">
    <div class="container mb-4 text-center">
        <h4>Lista de Producto</h2>
    </div>    
    <div class="container">
      <table class="table table-striped">
        <thead class="bg-dark bg-gradient text-white">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Codigo</th>
            <th scope="col">Image</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
          </tr>
        </thead>
        <tbody>
          {{#if productos.length }} 
            {{#each productos}}
              <tr>
                <td class="col-md-2">{{nombre}}</td>
                <td class="col-md-2">{{descripcion}}</td>
                <td class="col-md-2">{{codigo}}</td>
                <td class="col-md-2"><img style="width:45%" src={{imagen}}></td>
                <td class="col-md-2">{{precio}}</td>
                <td class="col-md-2">{{stock}}</td>
              </tr>
            {{/each}}
          {{else}}
            <tr>
              <td colspan="5">No hay Productos</td>
            </tr>
          {{/if}}
        </tbody>
      </table>
    </div>
</div>  --}}
    <div class="containerNuevoProducto d-flex justify-content-end align-items-center">
      <a href="/producto">
        <button class="botonNuevo btn btn-outline-dark">
            Nuevo Producto
        </button>
      </a>
    </div>
    {{!-- <div class="container">
      {{#if usuario}}
      <h3>Bienvenido {{usuario.email}}</h3>
      {{/if}}
    </div> --}}
    {{>messagesSuccess}}
    {{#each productos}}
        <div class="container d-flex justify-content-center align-items-center">
            <div class="card d-flex m-4">
                <div class="card-body">
                    <h4 class="card-title">
                        {{nombre}} <a href="/{{_id}}"><i class="fa-solid fa-pencil"></i></a>
                    </h4>
                    <p class="precio"><strong>Precio:</strong> {{precio}}</p>
                    <p class="stock"><strong>Stock:</strong> {{stock}}</p>
                    <form action="/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="form-control btn btn-outline-dark mb-2" type="submit">
                          Eliminar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {{/each}}
